.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  margin-left: calc(var(--sm) * -1px);
  margin-right: calc(var(--sm) * -1px);
}

.row > * {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.row-has-above {
  padding-top: 0;
}

.row-no-above {
  padding-top: 10px;
}

.row-has-below {
  padding-bottom: 10px;
}

@media (min-width: 640px) {
  .row-sm {
    margin-left: calc(var(--sm) * -1px);
    margin-right: calc(var(--sm) * -1px);
  }
}

@media (min-width: 768px) {
  .row-md {
    margin-left: calc(var(--md) * -1px);
    margin-right: calc(var(--md) * -1px);
  }
}

@media (min-width: 1024px) {
  .row-lg {
    margin-left: calc(var(--lg) * -1px);
    margin-right: calc(var(--lg) * -1px);
  }
}

@media (min-width: 1280px) {
  .row-xl {
    margin-left: calc(var(--xl) * -1px);
    margin-right: calc(var(--xl) * -1px);
  }
}

@media (min-width: 1536px) {
  .row-2xl {
    margin-left: calc(var(--2xl) * -1px);
    margin-right: calc(var(--2xl) * -1px);
  }
}
