public-hoist-pattern[]=*@mui*
; begin auth token for @ti_torra
@ti_torra:registry=https://pkgs.dev.azure.com/lojastorra/_packaging/TI_Torra/npm/registry/
//pkgs.dev.azure.com/lojastorra/_packaging/TI_Torra/npm/registry/:username=lojastorra
//pkgs.dev.azure.com/lojastorra/_packaging/TI_Torra/npm/registry/:_password=M1MzNGkxWHEyWVhUY1Qxa1ljU25OR3RYTjJuWVdFRGxsUGNhWjFsVEMzM21Jblg5VlN5akpRUUo5OUJKQUNBQUFBQTJCRm1oQUFBU0FaRE80M2xR
//pkgs.dev.azure.com/lojastorra/_packaging/TI_Torra/npm/registry/:email=rodrigo.cordeiro@lojastorra.com.br
//pkgs.dev.azure.com/lojastorra/_packaging/TI_Torra/npm/:username=lojastorra
//pkgs.dev.azure.com/lojastorra/_packaging/TI_Torra/npm/:_password=M1MzNGkxWHEyWVhUY1Qxa1ljU25OR3RYTjJuWVdFRGxsUGNhWjFsVEMzM21Jblg5VlN5akpRUUo5OUJKQUNBQUFBQTJCRm1oQUFBU0FaRE80M2xR
//pkgs.dev.azure.com/lojastorra/_packaging/TI_Torra/npm/:email=rodrigo.cordeiro@lojastorra.com.br
always-auth=true
strict-ssl=false
; end auth token

; begin default registry
registry=https://registry.npmjs.org/
strict-ssl=false
; end default registry
